<?xml version="1.0" encoding="UTF-8"?>
<!-- Conexion a la bd-->
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
       
    <environments default="desarrollo">   
        <environment id="desarrollo">
            <!-- encargado de hacer la conexion-->
            <transactionManager type="JDBC"/>
            <!-- tipo de conexion, en este caso pool-->
            <dataSource type="POOLED" >
               
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                 <!-- datos de conexion-->
                <property name="url" value="jdbc:mysql://localhost:3306/fit_nutrition?serverTimezone=UTC"/>   
                <property name="username" value="fit_nutritionUser"/>    
                <property name="password" value="password"/>
                <property name="poolMaximumActiveConnections" value="50"/>
            </dataSource>
        </environment>
    </environments>
    <mappers> 
        <mapper resource = "modelo/mybatis/mapper/AutenticarMapper.xml"/>
        <mapper resource = "modelo/mybatis/mapper/UsuarioMapper.xml"/>
        <mapper resource = "modelo/mybatis/mapper/MedicoMapper.xml"/>
        <mapper resource = "modelo/mybatis/mapper/AdministradorMapper.xml"/>
        <mapper resource = "modelo/mybatis/mapper/CitaMapper.xml"/>
        <mapper resource = "modelo/mybatis/mapper/DomicilioMapper.xml"/>
        <mapper resource = "modelo/mybatis/mapper/PacienteMapper.xml"/>
        <mapper resource = "modelo/mybatis/mapper/DietaMapper.xml"/>
        <mapper resource="modelo/mybatis/mapper/DietaAlimentoMapper.xml"/>
        <mapper resource="modelo/mybatis/mapper/ConsultaMapper.xml"/>
        <mapper resource="modelo/mybatis/mapper/AlimentoMapper.xml"/>
    </mappers>

</configuration>

